@media screen  and (min-width:768px){

    .header__nav-ul{
        justify-content: space-around;    

    }

    .header__link + .header__li-span{
        display: block;
    }
    .header__li-xs{
        width: 100%;
        display:flex;
        justify-content: flex-end;

    }

    


    .main__section-div{
    
        justify-content: space-between;
    
    }
    .main__section-div_block:nth-child(1){
        width:305px;
    }
    /* .main__section-p:nth-child(2){
        display: block;
    } */
    /* .main__section-p_xs{
        display:none;
    } */

    .main__section-div_block{
        width:auto;
    }
    .main__section-div_img{
        width:360px;
    }
    .main__section-div_block:last-child{
        margin-right:16px;
    
    }
    .main__section-div_text{
        width:312px;
        height:132px;
    }
}
