@media screen and (min-width:1120px) {
    .header{
        background-color:#F8F8F8;
    }
    .header__nav-ul{
        justify-content: space-between;    

    }
    .header__li-block{
        display:none;
    }
    .header__li-none{
        display:block;
    }
    .header__li-ul_flex{
        display:flex;
        align-items: center;
    }
    .header__li-ul_flex-span{
        width:135px;
    }
    .header__li-ul_flex-span{
        display:block;
    }
    .main-padding{
        padding-top:0;
    }
    .main__menu-ul{
        overflow-x: hidden;
    }
    .header__li-ul_li{
        padding-bottom:0;
    }
    .header__li-ul_li:nth-child(1){
        padding-left:0;
    }
    .main__section-div_1:nth-child(1){
        min-width:490px;
    }
    .main__section-p_xs{
        display:inline;
    }
    .main__section-div_img{
        width:100%;
        height:auto;
    }
    
}